<div class="filter-container">
  <div class="filter-item today">
    <label for="todayFilter">Due date today</label>
    <input class="checkbox" type="checkbox" id="todayFilter" (change)="onCheckboxChange($event)" />
  </div>

  <div class="filter-item">
    <label for="dateFilter">Due date</label>
    <input type="date" id="dateFilter" (change)="onDateChange($event)" />
  </div>

  <div class="filter-item">
    <label for="statusFilter">Status</label>
    <select (change)="onStatusChange($event)" id="statusFilter">
      <option *ngFor="let filter of filters">{{ filter }}</option>
    </select>
  </div>
</div>
