<div class="filter-container">
  <div class="filter-header">
    <span class="material-symbols-outlined"> filter_list </span>
  <h3>Filters</h3>
    <p-button class="bg-transparent text-black-600 underline hover:text-blue-800 focus:text-blue-800 font-medium px-0" (click)="onClearFilters()" label="Clear"></p-button>
</div>
  <div class="filter-item today">
    <label for="todayFilter">Due date today</label>
    <input class="checkbox" type="checkbox" id="todayFilter" [(ngModel)]="isChecked" (change)="onCheckboxChange($event)" />
  </div>

  <div class="filter-item">
    <label for="dateFilter">Due date</label>
    <input type="date" [(ngModel)]="selectedDate" id="dateFilter" (change)="onDateChange($event)" />
  </div>

  <div class="filter-item">
    <label for="statusFilter">Status</label>
    <select [(ngModel)]="selectedStatus" (change)="onStatusChange($event)" id="statusFilter">
      <option *ngFor="let filter of filters">{{ filter }}</option>
    </select>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=filter_list"
/>
