<div class="task-item">
  <div class="task-description">
    <h3>{{ title() }}</h3>
    <p>{{ description }}</p>
    <p>Date: {{ date }}</p>
  </div>
  <div class="button-container">
    <app-button
      [label]="completed ? 'Done' : 'Complete'"
      type="complete"
      [isDisabled]="completed"
      (click)="onComplete()"
    ></app-button>
    <app-button label="Edit" type="edit" (click)="toggleForm()"></app-button>
    <app-button label="Delete" type="delete" (click)="onDelete()"></app-button>
  </div>
</div>

<app-form
  *ngIf="showForm"
  [title]="title()"
  [description]="description"
  [date]="date"
  [id]="id"
  [completed]="completed"
  (cancel)="toggleForm()"
></app-form>
