header {
    background-image: linear-gradient(to right top, #051937, #004f6f, #008b96, #5cc7a7, #ccffaf);
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
}