<form
  [formGroup]="formGroup"
  (ngSubmit)="newTask ? onSubmit() : onSave()"
  class="task-form"
>
  <div class="form-group">
    <label for="taskTitle" class="form-label">Title</label>
    <input
      id="taskTitle"
      formControlName="title"
      placeholder="Enter task title"
      type="text"
      pInputText
      class="form-input"
    />
  </div>

  <div class="form-group">
    <label for="taskDescription" class="form-label">Description</label>
    <textarea
      id="taskDescription"
      formControlName="description"
      placeholder="Enter task description"
      type="text"
      pInputText
      class="form-input"
      rows="5"
      cols="30"
      pInputTextarea
    >
    </textarea>
  </div>

  <div class="form-group">
    <label for="taskDate" class="form-label">Date</label>
    <p-calendar
      formControlName="date"
      [iconDisplay]="'input'"
      [showIcon]="true"
      inputId="taskDate"
      dateFormat="dd-mm-yy"
      class="form-input"
    ></p-calendar>
  </div>

  <app-button
    type="submit"
    label="{{ newTask ? 'Add Task' : 'Save' }}"
    class="button-submit mt-4"
  ></app-button>
</form>
