<div class="bg-yellow-500 p-4">
  <div>
    <app-button
      label="Add Task"
      type="submit"
      (click)="toggleForm()"
    ></app-button>
  </div>
  <div
    *ngIf="showForm"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-lg font-bold mb-4">Add New Task</h3>
      <app-form (taskAdded)="refreshTaskList()"></app-form>
      <button
        (click)="toggleForm()"
        class="mt-4 bg-gray-500 text-white px-4 py-2 rounded"
      >
        Close
      </button>
    </div>
  </div>

  <div class="task-list mt-4">
    <ul>
      <li *ngFor="let task of tasks">
        <app-task
          [title]="task.title"
          [description]="task.description"
          [date]="task.date"
          [id]="task.id"
          (taskDeleted)="refreshTaskList()"
        ></app-task>
      </li>
    </ul>
  </div>
</div>
