<div class="task-list-container">
  <div>
    <app-button
      label="Add Task"
      class="add-task-button"
      (click)="toggleForm()"
    ></app-button>
  </div>

  <div *ngIf="showForm" class="modal-overlay">
    <div class="modal-content">
      <h3>Add New Task</h3>
      <app-form (taskAdded)="refreshTaskList()"></app-form>
      <button class="close-button" (click)="toggleForm()">Close</button>
    </div>
  </div>

  <div class="task-list">
    <ul>
      <li *ngFor="let task of tasks">
        <app-task
          [title]="task.title"
          [description]="task.description"
          [date]="task.date"
          [id]="task.id"
          (taskDeleted)="refreshTaskList()"
        ></app-task>
      </li>
    </ul>
  </div>
</div>
