.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bell, .icon-envelope, .user-img {
    font-size: 20px;
    cursor: pointer;
}

.icon-bell i, .icon-envelope i {
    color: #333;
}

.user-img::before {
    font-size: 14px;
    color: white;
}

/* Opcjonalnie zmień kolor ikon przy najechaniu */
.icon-bell:hover i, .icon-envelope:hover i {
    color: #555;
}