<div class="social-container">
    <div class="social-item">
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
            <span class="material-icons">facebook</span>
        </a>
    </div>
    <div class="social-item">
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
            <span class="material-icons">instagram</span>
        </a>
    </div>
    <div class="social-item">
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
            <span class="material-icons">twitter</span>
        </a>
    </div>
    <div class="social-item">
        <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
            <span class="material-icons">linkedin</span>
        </a>
    </div>
</div>
