/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css */
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(15deg, #a07ff5, #a293f3, #a8a5f2, #b7bcf2, #c8d1f3, #d7e1f4, #e6eef7, #f4f8fb);
    background-size: 400% 400%;
    background-attachment: fixed;
}

button.p-button:focus,
button.p-button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
