/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

/* src/styles.css */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    15deg,
    var(--primary-50),
    var(--indigo-400),
    var(--primary-200),
    var(--primary-300),
    var(--primary-600),
    var(--primary-700),
    var(--primary-700),
    var(--primary-700)
  );
  background-size: 400% 400%;
  background-attachment: fixed;
}

button.p-button:focus,
button.p-button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.p-togglebutton.p-button{
  border-radius: 50px;
  width: 40px;
  height: 40px;
}