<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
  <div>
    <label for="title">Task Title</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="task.title"
      required
    />
  </div>
  <div>
    <label for="description">Task Description</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="task.description"
      required
    ></textarea>
  </div>
  <div>
    <label for="date">Task Date</label>
    <input type="date" id="date" name="date" [(ngModel)]="task.date" required />
  </div>
  <app-button type="submit" label="Add Task">Add Task</app-button>
</form>
