<form (ngSubmit)="onSave()">
  <div>
    <label for="taskTitle">Title</label>
    <input id="taskTitle" [(ngModel)]="title" name="title" required />
  </div>
  <div>
    <label for="taskDescription">Description</label>
    <input
      id="taskDescription"
      [(ngModel)]="description"
      name="description"
      required
    />
  </div>
  <div>
    <label for="taskDate">Date</label>
    <input type="date" id="taskDate" [(ngModel)]="date" name="date" required />
  </div>
  <app-button type="submit" label="Add Task">Add Task</app-button>
</form>
